.wrapper {
    max-width: 56rem;
    margin-inline: auto;
    background-color: var(--clr-stone-100);
    padding: clamp(4em, 2vw + 1em, 80em);
    border-radius: var(--radius);
    
    @media (width < 1280px) {
        max-width: 100%;
        padding: 0;
    }

}

